.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden; }

h1,
h2,
h3,
h4 {
  color: #2d314d;
  font-weight: 400; }

li {
  list-style: none; }

a {
  text-decoration: none; }

button {
  border: none;
  background: none; }

.btn--request {
  font-size: 0.875rem;
  font-family: inherit;
  font-weight: 700;
  padding: 1em 2.25em;
  border-radius: 50px;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c, #2bb7da); }

.text {
  font-size: 0.875rem;
  color: #9698a6;
  line-height: 1.5em; }
  @media only screen and (min-width: 62.5rem) {
    .text {
      font-size: 1rem; } }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden; }

h1,
h2,
h3,
h4 {
  color: #2d314d;
  font-weight: 400; }

li {
  list-style: none; }

a {
  text-decoration: none; }

button {
  border: none;
  background: none; }

.btn--request {
  font-size: 0.875rem;
  font-family: inherit;
  font-weight: 700;
  padding: 1em 2.25em;
  border-radius: 50px;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c, #2bb7da); }

.text {
  font-size: 0.875rem;
  color: #9698a6;
  line-height: 1.5em; }
  @media only screen and (min-width: 62.5rem) {
    .text {
      font-size: 1rem; } }

.nav {
  width: 100%;
  height: 3.625rem;
  padding: 0 2.25rem;
  background: white;
  position: relative;
  z-index: 100; }
  @media only screen and (min-width: 50rem) {
    .nav {
      height: 5rem; } }
  @media only screen and (min-width: 62.5rem) {
    .nav {
      padding: 0 10rem; } }
  .nav__links-wrapper {
    position: absolute;
    top: 3.625rem;
    left: 0;
    width: calc(100% - 3rem);
    margin: 1.5rem;
    padding: 1.5rem 0;
    border-radius: 5px;
    background: white;
    z-index: 100;
    visibility: hidden; }
    @media only screen and (min-width: 50rem) {
      .nav__links-wrapper {
        position: unset;
        visibility: visible;
        width: unset;
        margin: 0;
        padding: 0; } }
    @media only screen and (min-width: 50rem) {
      .nav__links-wrapper ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    .nav__links-wrapper li {
      line-height: 2.5em;
      text-align: center; }
      @media only screen and (min-width: 50rem) {
        .nav__links-wrapper li {
          font-size: 0.875rem; } }
      .nav__links-wrapper li a {
        color: #2d314d; }
        @media only screen and (min-width: 50rem) {
          .nav__links-wrapper li a {
            color: #9698a6; } }
    @media only screen and (min-width: 50rem) {
      .nav__links-wrapper li + li {
        margin-left: 1.875rem; } }
  .nav .btn--request {
    display: none; }
    @media only screen and (min-width: 50rem) {
      .nav .btn--request {
        display: block; } }
  @media only screen and (min-width: 50rem) {
    .nav__btn--burger {
      display: none; } }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden; }

h1,
h2,
h3,
h4 {
  color: #2d314d;
  font-weight: 400; }

li {
  list-style: none; }

a {
  text-decoration: none; }

button {
  border: none;
  background: none; }

.btn--request {
  font-size: 0.875rem;
  font-family: inherit;
  font-weight: 700;
  padding: 1em 2.25em;
  border-radius: 50px;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c, #2bb7da); }

.text {
  font-size: 0.875rem;
  color: #9698a6;
  line-height: 1.5em; }
  @media only screen and (min-width: 62.5rem) {
    .text {
      font-size: 1rem; } }

.hero {
  min-height: 41.25rem;
  background-color: #fafafa; }
  @media only screen and (min-width: 62.5rem) {
    .hero {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .hero__img-wrapper {
    position: relative;
    background-image: url("../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 700%; }
    @media only screen and (min-width: 62.5rem) {
      .hero__img-wrapper {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        width: 55%;
        background-image: url("../images/bg-intro-desktop.svg");
        background-position: 8% 78%;
        background-size: 150% 148%; } }
    .hero__img-wrapper .img-mockup {
      width: 90%;
      height: auto;
      -webkit-transform: translateY(-29%);
              transform: translateY(-29%); }
      @media only screen and (min-width: 62.5rem) {
        .hero__img-wrapper .img-mockup {
          position: absolute;
          width: 95%;
          -webkit-transform: translate(20%, 2%);
                  transform: translate(20%, 2%); } }
  .hero__content-wrapper {
    padding: 0 1rem; }
    @media only screen and (min-width: 62.5rem) {
      .hero__content-wrapper {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        width: 45%;
        -ms-flex-item-align: center;
            align-self: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding-left: 10rem; } }
    .hero__content-wrapper h1 {
      font-size: 2.5rem;
      text-align: center;
      margin-top: -6rem;
      margin-bottom: 1rem; }
      @media only screen and (min-width: 28.125rem) {
        .hero__content-wrapper h1 {
          margin-top: calc(-6rem - 20vw); } }
      @media only screen and (min-width: 62.5rem) {
        .hero__content-wrapper h1 {
          margin-top: 0;
          font-size: 3.75rem;
          text-align: left; } }
    .hero__content-wrapper p {
      text-align: center;
      margin-bottom: 2rem;
      max-width: 42ch; }
      @media only screen and (min-width: 62.5rem) {
        .hero__content-wrapper p {
          font-size: 1.125rem;
          text-align: left; } }
    .hero__content-wrapper .hero__btn {
      margin-bottom: 5rem; }
      @media only screen and (min-width: 62.5rem) {
        .hero__content-wrapper .hero__btn {
          -ms-flex-item-align: start;
              align-self: flex-start; } }

.benefits {
  background-color: #f3f4f6;
  padding: 3.5rem 1rem; }
  @media only screen and (min-width: 81.25rem) {
    .benefits {
      padding: 3.5rem 10rem; } }
  .benefits__header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (min-width: 81.25rem) {
      .benefits__header {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; } }
    .benefits__header h2,
    .benefits__header h3 {
      text-align: center;
      margin-bottom: 1.5rem; }
  .benefits__title {
    font-size: 2rem; }
    @media only screen and (min-width: 62.5rem) {
      .benefits__title {
        font-size: 2.5rem; } }
  .benefits__description {
    text-align: center;
    margin-bottom: 3.3rem;
    max-width: 60ch; }
    @media only screen and (min-width: 81.25rem) {
      .benefits__description {
        text-align: left; } }
  @media only screen and (min-width: 81.25rem) {
    .benefits .services {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 2rem; } }
  .benefits .services__icon-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.5rem; }
    @media only screen and (min-width: 62.5rem) {
      .benefits .services__icon-wrapper img {
        -webkit-transform: scale(103%);
                transform: scale(103%); } }
  .benefits .services__title {
    margin-bottom: 1.5rem; }
    @media only screen and (min-width: 62.5rem) {
      .benefits .services__title {
        font-size: 1.5rem; } }
  .benefits .services__text {
    max-width: 38ch;
    text-align: center;
    margin-bottom: 2rem; }
    @media only screen and (min-width: 81.25rem) {
      .benefits .services__text {
        text-align: left; } }
  @media only screen and (min-width: 50rem) {
    .benefits .services__one, .benefits .services__two {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  @media only screen and (min-width: 81.25rem) {
    .benefits .services__one, .benefits .services__two {
      gap: 2rem; } }
  @media only screen and (min-width: 50rem) {
    .benefits .services__column {
      width: 50%; } }
  @media only screen and (min-width: 81.25rem) {
    .benefits .services__column {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden; }

h1,
h2,
h3,
h4 {
  color: #2d314d;
  font-weight: 400; }

li {
  list-style: none; }

a {
  text-decoration: none; }

button {
  border: none;
  background: none; }

.btn--request {
  font-size: 0.875rem;
  font-family: inherit;
  font-weight: 700;
  padding: 1em 2.25em;
  border-radius: 50px;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c, #2bb7da); }

.text {
  font-size: 0.875rem;
  color: #9698a6;
  line-height: 1.5em; }
  @media only screen and (min-width: 62.5rem) {
    .text {
      font-size: 1rem; } }

.articles {
  padding: 3.5rem 2rem;
  background-color: #fafafa; }
  @media only screen and (min-width: 81.25rem) {
    .articles {
      padding: 3.5rem 10rem; } }
  .articles__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media only screen and (min-width: 81.25rem) {
      .articles__header {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
    .articles__header .articles__headline {
      margin-bottom: 2rem; }
  .articles__cards-container {
    display: grid;
    place-items: center; }
    @media only screen and (min-width: 50rem) {
      .articles__cards-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.75rem; } }
    @media only screen and (min-width: 81.25rem) {
      .articles__cards-container {
        grid-template-columns: repeat(4, 1fr);
        place-items: start; } }
  .articles__card {
    width: 100%;
    max-width: 18.75rem;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 1.375rem; }
    @media only screen and (min-width: 50rem) {
      .articles__card {
        width: 15.9375rem; } }
    .articles__card .articles__img-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 11.5625rem;
      overflow: hidden;
      -o-object-fit: cover;
         object-fit: cover; }
      @media only screen and (min-width: 50rem) {
        .articles__card .articles__img-wrapper {
          height: 12.5rem; } }
      .articles__card .articles__img-wrapper img {
        width: 100%;
        height: auto; }
    .articles__card .articles__content-wrapper {
      padding: 2rem 1.5rem 3rem 1.5rem;
      background: white; }
      .articles__card .articles__content-wrapper .articles__autor {
        font-size: 0.625rem;
        margin-bottom: 1rem;
        color: #9698a6; }
      .articles__card .articles__content-wrapper .articles__title {
        margin-bottom: 1rem; }
      .articles__card .articles__content-wrapper .articles__text {
        font-size: 0.75rem; }
