*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden; }

a,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit; }

.container {
  background: #F0F0F0; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.btn {
  background: none;
  font-family: inherit;
  padding: 0.5em 1.5em;
  margin-bottom: 2rem;
  border: 2px solid #6BB7CD;
  border-radius: 10px;
  color: #1B414B;
  -ms-flex-item-align: start;
      align-self: flex-start; }

.section {
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F0F0F0;
  padding: 3rem 1.5rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (min-width: 31.25rem) {
    .section {
      padding: 3rem; } }
  @media only screen and (min-width: 62.5rem) {
    .section {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .section__title {
    font-size: clamp(3.125rem, 5vw, 5.625rem);
    font-weight: 700;
    line-height: 0.9em;
    margin-bottom: 2rem;
    color: #143139; }
  .section__text {
    font-size: clamp(1rem, 3vw, 1.25rem);
    font-weight: 400;
    line-height: 1.35em;
    margin-bottom: 2rem;
    color: #1B414B;
    max-width: 40ch; }
  .section__img-wrapper {
    width: 100%;
    max-width: 56.25rem;
    z-index: 2; }
    .section__img-wrapper img {
      width: 100%;
      height: auto; }

.section::before {
  content: "";
  position: absolute;
  width: 40vw;
  height: 40vw;
  border: 0.3125rem solid #6BB7CD;
  border-radius: 50%;
  right: -10vw;
  bottom: -2vw;
  opacity: 0.5;
  z-index: 1; }
  @media only screen and (min-width: 31.25rem) {
    .section::before {
      width: 30vw;
      height: 30vw; } }
  @media only screen and (min-width: 62.5rem) {
    .section::before {
      width: 25vw;
      height: 25vw;
      right: -10vw;
      bottom: -5vw; } }

.section::after {
  content: '';
  position: absolute;
  width: 40vw;
  height: 1.25rem;
  border-top: 0.3125rem solid #FAC7C6;
  border-bottom: 0.3125rem solid #FAC7C6;
  opacity: 0.5;
  right: 3rem;
  bottom: 20vw;
  -webkit-transform: skewX(-40deg);
          transform: skewX(-40deg);
  z-index: 1; }
  @media only screen and (min-width: 31.25rem) {
    .section::after {
      width: 30vw;
      bottom: 15vw; } }
  @media only screen and (min-width: 62.5rem) {
    .section::after {
      width: 25vw;
      bottom: 10vw; } }

.header {
  width: 100%;
  height: 4.6875rem;
  padding: 0 1.5rem;
  background: #143139;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  @media only screen and (min-width: 31.25rem) {
    .header {
      padding: 0 3rem; } }
  .header__quote {
    max-width: 60%; }
    .header__quote p {
      color: #CD886B;
      font-size: clamp(0.875rem, 3vw, 1.875rem);
      font-weight: 500; }
  .header__links .fab {
    color: #CD886B;
    font-size: 2.5rem;
    cursor: pointer; }
  .header__links .link + .link {
    margin-left: 1.5rem; }

.room {
  margin-top: 4.6875rem; }
