@import 'globals.scss';

.nav {
    width: 100vw;
    height: 3.625rem;
    padding: 0 2.25rem;
    background: $white;
    position: relative;

    &__links-wrapper {
        position: absolute;
        top: 3.625rem;
        left: 0;
        width: calc(100% - 3rem);
        margin: 1.5rem;
        padding: 1.5rem 0;
        border-radius: 5px;
        background: $white;
        z-index: 100;
        visibility: hidden;

        li {
            line-height: 2.5em;
            text-align: center;
            

            a {
                color: $darkBlue;
            }
        }


    }

    &__btn {
        display: none;
    }




}