.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ai-fs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ai-fe {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a[class],
a[class]:visited,
a[class]:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
header {
  width: 100%;
  min-height: 32.75rem;
  background-image: url(../images/bg-pattern-intro.svg), -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
  background-image: url(../images/bg-pattern-intro.svg), linear-gradient(#ff8f70, #ff3d54);
  background-repeat: no-repeat;
  background-position: 35% 30%;
  background-size: 250vw;
  border-bottom-left-radius: 100px;
  padding: 3.125rem 1.25rem;
}
@media only screen and (min-width: 62.5em) {
  header {
    padding: 3.125rem 5rem;
    background-position: -300px;
  }
}
@media only screen and (min-width: 81.25em) {
  header {
    padding: 3.125rem 10rem;
    background-position: -400px;
  }
}
header .intro {
  margin-top: 5rem;
  color: white;
  text-align: center;
}
header .intro__title {
  font-size: clamp(2.25rem, 5vw, 3.5rem);
  line-height: 1.3em;
}
header .intro__subtitle {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  padding: 1rem 2rem 3rem 2rem;
}
header .intro__btn {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 1em 1.5em 0.75em 1.5em;
  border-radius: 50px;
  -webkit-transition: background 0.3s ease-in, color 0.3s ease-in;
  transition: background 0.3s ease-in, color 0.3s ease-in;
}
header .intro__btn--start {
  background: white;
  color: #ff525d;
}
header .intro__btn--start:hover {
  background: #ff7a85;
  color: white;
}
header .intro__btn--learn {
  border: 1px solid white;
  color: white;
  margin-left: 1rem;
}
header .intro__btn--learn:hover {
  background: white;
  color: #ff525d;
}

.nav {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (min-width: 62.5em) {
  .nav__logo-container {
    width: 10rem;
  }
}
.nav__links {
  position: absolute;
  top: calc(100% + 1.5rem);
  left: 0;
  width: 100%;
  padding: 2.0625rem 1.125rem;
  text-align: center;
  border-radius: 5px;
  background: white;
  font-size: 1rem;
  font-weight: 600;
  color: #283d52;
  -webkit-box-shadow: 0 10px 30px rgba(60, 42, 42, 0.4);
          box-shadow: 0 10px 30px rgba(60, 42, 42, 0.4);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}
@media only screen and (min-width: 50em) {
  .nav__links {
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.nav__links--internal {
  position: relative;
  width: 100%;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #efeff1;
}
@media only screen and (min-width: 50em) {
  .nav__links--internal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    border: none;
  }
}
@media only screen and (min-width: 50em) {
  .nav__links--internal ul:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.nav__links--internal .link-item {
  margin-bottom: 1rem;
  cursor: pointer;
  position: relative;
}
@media only screen and (min-width: 50em) {
  .nav__links--internal .link-item {
    margin: 0;
    color: white;
  }
}
.nav__links--internal .link-item .arrow-icon {
  display: inline-block;
  width: 10px;
  height: 8px;
  margin-left: 0.5rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform-origin: center;
          transform-origin: center;
  background-image: url(../images/icon-arrow-dark.svg);
}
@media only screen and (min-width: 50em) {
  .nav__links--internal .link-item .arrow-icon {
    background-image: url(../images/icon-arrow-light.svg);
  }
}
.nav__links--internal .link-item .arrow-icon--open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.nav__links--internal .link-item:first-child {
  margin-left: 4rem;
}
.nav__links--internal .link-item + .link-item {
  margin-left: 2rem;
}
.nav__links--internal .link-item:hover {
  text-decoration: underline;
}
.nav__links--internal .connect-dropdown {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem 0;
  background: #efeff1;
  border-radius: 5px;
}
.nav__links--internal .connect-dropdown__item {
  line-height: 2.5em;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
.nav__links--internal .connect-dropdown__item:hover {
  font-weight: 700;
  cursor: pointer;
}
.nav__links--internal .connect-dropdown--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (min-width: 50em) {
  .nav__links--internal .connect-dropdown--open {
    display: block;
    position: absolute;
    top: 4rem;
    left: 16rem;
    width: 10.5rem;
    text-align: left;
    padding: 1.5rem;
  }
}
.nav__links--internal .link-item--active {
  opacity: 0.75;
}
.nav__links--auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}
@media only screen and (min-width: 50em) {
  .nav__links--auth {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
}
.nav__links--auth--login {
  margin-bottom: 1rem;
  color: #283d52;
}
@media only screen and (min-width: 50em) {
  .nav__links--auth--login {
    margin: 0 2rem;
    color: white;
  }
}
.nav__links--auth--signup {
  width: 8.625rem;
  padding: 0.8em 1.25em 0.65em 1.25em;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background-image: linear-gradient(90deg, #ff8f70, #ff3d54);
  color: white;
  border-radius: 50px;
  -webkit-transition: background 0.3s ease-in, color 0.3s ease-in;
  transition: background 0.3s ease-in, color 0.3s ease-in;
}
@media only screen and (min-width: 50em) {
  .nav__links--auth--signup {
    background: white;
    color: #ff525d;
  }
}
.nav__links--auth--signup:hover {
  background: #ff7a85;
  color: white;
}
.nav .nav--open {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
.nav__toggle-btn {
  width: 1.75rem;
  height: 1.75rem;
  background-image: url(../images/icon-hamburger.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}
@media only screen and (min-width: 50em) {
  .nav__toggle-btn {
    display: none;
  }
}
.nav .icon--close {
  background-image: url(../images/icon-close.svg);
}

body {
  font-family: "Overpass", sans-serif;
}