// COLORS

//primary

$darkTextColor: hsl(229, 25%, 31%);
$scoreTextColor: hsl(229, 64%, 46%);
$headerOutlineColor: hsl(217, 16%, 45%);
$backgroundLite: rgb(230, 230, 230);

// gradients

$backgroundGradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
$scissorsGradient: linear-gradient(90deg, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
$paperGradient: linear-gradient(90deg, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$rockGradient: linear-gradient(90deg, hsl(349, 71%, 52%), hsl(349, 70%, 56%));

// shadow

$darkShadow: rgba(10, 10, 10, 0.5);

html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
    scroll-behavior: smooth;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    //outline: 1px solid blue;
}

body {
    overflow-x: hidden;
    height: 100%;
}

a,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

// helper classes

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.ai-c {
    align-items: center;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}
