@import "globals";

.container {
    width: 100vw;
    height: 100vh;
    padding: 1.875rem;
    background: $backgroundGradient;
}

header {
    width: 100%;
    max-width: 44rem;
    border: 2px solid $headerOutlineColor;
    border-radius: 10px;
    padding: 0.625rem;

    .logo {
        width: 5.125rem;
        height: 3.13rem;
    }

    .score {
        width: 5rem;
        padding: 0.8rem;
        background: $backgroundLite;
        border-radius: 5px;

        &__title {
            color: $scoreTextColor;
            text-transform: uppercase;
            font-size: 0.6rem;
            font-weight: 600;
            letter-spacing: 0.25em;
        }

        &__number {
            color: $darkTextColor;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1;
        }
    }
}
.choose {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    &__triangle {
        margin: auto;
        width: 60vw;
        max-width: 20rem;
        height: 60vw;
        max-height: 20rem;
        background-image: url("../images/bg-triangle.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: relative;
    }

    &__hand {
        position: absolute;
        width: clamp(7.125rem, 20vw, 10.75rem);
        height: clamp(7.125rem, 20vw, 10.75rem);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        filter: drop-shadow(0 5px 5px $darkShadow);
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    &__hand--paper {
        top: 10%;
        left: 10%;
        background: $paperGradient;
    }

    &__hand--paper:hover .hand-inner {
        background: $hoverPaper;
    }

    &__hand--scissors {
        top: 10%;
        left: 90%;
        background: $scissorsGradient;
    }

    &__hand--scissors:hover .hand-inner {
        background: $hoverScissors;
    }

    &__hand--rock {
        bottom: -30%;
        left: 50%;
        background: $rockGradient;
    }

    &__hand--rock:hover .hand-inner {
        background: $hoverRock;
    }
}

.hand-inner {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background: $backgroundLite;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 3px 5px $darkShadow;
    transition: all 0.3s ease;

    .hand-img {
        width: 50%;
    }
}

.hand-inner--npc {
    visibility: hidden;
}

.game {
    width: 100%;
    height: 100%;
    max-width: 60rem;
    padding-top: 10%;
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &__player {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

        @media only screen and (min-width: 47.5rem) {
            flex-direction: column;
        }

        &__title {
            margin-top: 1em;
            margin-bottom: 3em;
            text-transform: uppercase;
            text-align: center;
            font-size: clamp(0.8rem, 2vw, 1.2rem);
            font-weight: 600;
            letter-spacing: 0.15em;
            color: $backgroundLite;
        }
        .hand {
            width: clamp(8.125rem, 30vw, 18.75rem);
            height: clamp(8.125rem, 30vw, 18.75rem);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            filter: drop-shadow(0 5px 5px $darkShadow);
            z-index: 1;
        }

        .hand--paper {
            background: $paperGradient;
        }

        .hand--scissors {
            background: $scissorsGradient;
        }

        .hand--rock {
            background: $rockGradient;
        }
    }
}

.game__player--human {
    order: 1;
}

.game__player--npc {
    order: 2;
}

.wait {
    width: clamp(6.125rem, 30vw, 16.75rem);
    height: clamp(6.125rem, 30vw, 16.75rem);
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
}

.winner {
    position: relative;
}

@keyframes pulse {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.winner::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 0 20px rgba(250, 250, 250, 0.07), 0 0 0 50px rgba(250, 250, 250, 0.05),
        0 0 0 100px rgba(250, 250, 250, 0.03);
    animation: pulse 1s 5 alternate;
    position: absolute;
    z-index: -1;
}

.result {
    order: 3;
    width: 100%;
    transform: translateY(-100%);
    opacity: 0;
    transition: opacity 1s ease-in;

    @media only screen and (min-width: 47.5rem) {
        transform: translateY(-300%);
    }

    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        color: $backgroundLite;
        text-transform: uppercase;
        margin-bottom: 0.25em;
    }

    &__btn {
        font-family: inherit;
        color: $darkTextColor;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        background: $backgroundLite;
        padding: 1em 3em;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        transition: color 0.5s ease-in;
    }

    &__btn:hover {
        color: red;
    }
}

.btn-container {
    position: absolute;
    bottom: 2vh;
    left: 0;
    width: 100%;
    height: 2.625rem;

    @media only screen and (min-width: 47.5rem) {
        justify-content: flex-end;
        padding-right: 3rem;
    }

    .rules-btn {
        width: 8.125rem;
        height: 100%;
        border: 2px solid $backgroundLite;
        color: $backgroundLite;
        text-transform: uppercase;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.15em;
        border-radius: 10px;
        background: none;
        cursor: pointer;
        transition: all .5s ease-in;
    }

    .rules-btn:hover {
        background: $backgroundLite;
        color: $darkTextColor;
    }
}

.rules-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 5rem 1rem;
    background: $backgroundLite;
    z-index: 100;

    @media only screen and (min-width: 47.5rem) {
        width: 27rem;
        height: 28.25rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2rem;
        border-radius: 10px;
        

    }

    .rules-modal__title {
        font-size: 2rem;
        text-transform: uppercase;
        color: $darkTextColor;
    }

    .rules-img {
        width: 100%;
        

        @media only screen and (min-width: 47.5rem) {
            order: 3;
            width: 19rem;
            margin: 0 auto;
            
        }
    }

    .close-btn {
        width: 7%;
        cursor: pointer;

        @media only screen and (min-width: 47.5rem) {
            order: 2;
        }
    }
}

.attribution {
    width: 100vw;
    height: 5rem;
    background: hsl(237, 49%, 15%);
    color: $backgroundLite;
}

.attribution a {
    color: $headerOutlineColor;
    text-decoration: underline;
    margin-left: 0.5em;
}
