@import "globals.scss";

.container {
    width: 100vw;
    min-width: 320px;
    max-width: 1440px;
    height: 100vh;
    padding: 1rem;
    background: url(../images/bg-stars.svg) no-repeat, url(../images/pattern-hills.svg) bottom right no-repeat,
        $veryDarkBlue;

    .title {
        font-size: $titleSize;
        text-transform: uppercase;
        text-align: center;
        color: white;
        letter-spacing: 0.5em;
        margin-top: 8.75rem;
    }
}

.cards-container {
    width: 100%;
    max-width: 43rem;
    margin-top: 3.125rem;
}

.wrapper {
    position: relative;
    perspective: 1000px;
    overflow: hidden;
}

.wrapper::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $blackishBlue;
    top: calc(50% - 4px);
    left: -4px;
    z-index: 100;
}

.wrapper::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $blackishBlue;
    top: calc(50% - 4px);
    right: -4px;
}

.card {
    width: $cardWidthSmall;
    height: $cardHeightSmall;
    background: lightgrey;
    display: flex;
    justify-content: center;
    overflow: hidden;

    @include breakpoint-up($large) {
        width: $cardWidthLarge;
        height: $cardHeightLarge;
    }
}

.card-top {
    transition: all 1s ease;
    transform-origin: 0 bottom;
    background: $darkerBlue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid hsla(235, 16%, 14%, 0.3);
}

.card-bottom {
    background: $darkBlue;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-flip-front,
.card-flip-back {
    position: absolute;
    left: 0;
    backface-visibility: hidden;

    //!!!!!!!!!!!!!! delete
    //visibility: hidden;
}

.card-flip-front {
    top: 0;
    transform-origin: 0 bottom;
}

.card-flip-back {
    transform-origin: 0 top;
    transform: rotateX(180deg);
    top: 50%;
}

.flip-front {
    transform: rotateX(-180deg);
}

.flip-back {
    transform: rotateX(0);
}

.number-top,
.number-bottom {
    font-size: $numberSmall;
    color: $softRed;

    @include breakpoint-up($large) {
        font-size: $numberLarge;
    }
}

.number-top {
    transform: translateY(20%);
    opacity: 0.8;

    @include breakpoint-up($large) {
        transform: translateY(40%);
    }
}

.number-bottom {
    transform: translateY(-80%);

    @include breakpoint-up($large) {
        transform: translateY(-60%);
    }
}

.labels-container {
    width: 100%;
    max-width: 43rem;
    margin-top: 0.625rem;

    .label {
        font-size: $fontSmall;
        width: $cardWidthSmall;
        color: $grayishBlue;

        @include breakpoint-up($large) {
            font-size: $fontLarge;
            width: $cardWidthLarge;
        }
    }
}

.links-container {
    width: 8.75rem;
    margin-top: 110%;

    .link {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        background: $grayishBlue;
        mask-size: cover;
        cursor: pointer;
    }

    .link:hover {
        background: $softRed;
    }

    .link--fb {
        mask: url(../images/icon-facebook.svg);
    }

    .link--pint {
        mask: url(../images/icon-pinterest.svg);
    }

    .link--insta {
        mask: url(../images/icon-instagram.svg);
    }
}
