*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-family: 'Red Hat Text', sans-serif;
  overflow-x: hidden; }

a,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

body {
  background: #1e1f29; }

.container {
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  padding: 1rem;
  margin: 0 auto;
  background: url(../images/bg-stars.svg) no-repeat, url(../images/pattern-hills.svg) bottom right no-repeat, #1e1f29; }
  @media only screen and (min-width: 46rem) {
    .container {
      background-size: contain; } }
  .container .title {
    font-size: 1.125rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
    letter-spacing: 0.5em;
    margin-top: 8.75rem; }

.cards-container {
  width: 100%;
  max-width: 43rem;
  margin-top: 3.125rem; }

.wrapper {
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  overflow: hidden; }

.wrapper::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #191a24;
  top: calc(50% - 4px);
  left: -4px;
  z-index: 100; }

.wrapper::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #191a24;
  top: calc(50% - 4px);
  right: -4px; }

.card {
  width: 4.375rem;
  height: 2.125rem;
  background: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden; }
  @media only screen and (min-width: 46rem) {
    .card {
      width: 9.25rem;
      height: 4.375rem; } }

.card-top {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform-origin: 0 bottom;
          transform-origin: 0 bottom;
  background: #2c2c44;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid rgba(30, 31, 41, 0.3); }

.card-bottom {
  background: #343650;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.card-flip-front,
.card-flip-back {
  position: absolute;
  left: 0px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

.card-flip-front {
  top: 0;
  -webkit-transform-origin: 0 bottom;
          transform-origin: 0 bottom; }

.card-flip-back {
  -webkit-transform-origin: 0 top;
          transform-origin: 0 top;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  top: 50%; }

.flip-front {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg); }

.flip-back {
  -webkit-transform: rotateX(0);
          transform: rotateX(0); }

.number-top,
.number-bottom {
  font-size: 2.5rem;
  color: #fb6087; }
  @media only screen and (min-width: 46rem) {
    .number-top,
    .number-bottom {
      font-size: 4rem; } }

.number-top {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  opacity: 0.8; }
  @media only screen and (min-width: 46rem) {
    .number-top {
      -webkit-transform: translateY(40%);
              transform: translateY(40%); } }

.number-bottom {
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%); }
  @media only screen and (min-width: 46rem) {
    .number-bottom {
      -webkit-transform: translateY(-60%);
              transform: translateY(-60%); } }

.labels-container {
  width: 100%;
  max-width: 43rem;
  margin-top: 0.625rem; }
  .labels-container .label {
    font-size: 0.75rem;
    width: 4.375rem;
    color: #8486a9; }
    @media only screen and (min-width: 46rem) {
      .labels-container .label {
        font-size: 1.5rem;
        width: 9.25rem; } }

.links-container {
  position: absolute;
  bottom: 4.375rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 8.75rem; }
  .links-container .link {
    width: 1.5rem;
    height: 1.5rem;
    background: #8486a9;
    -webkit-mask-size: cover;
            mask-size: cover;
    cursor: pointer; }
  .links-container .link--fb {
    -webkit-mask: url(../images/icon-facebook.svg);
            mask: url(../images/icon-facebook.svg); }
  .links-container .link--pint {
    -webkit-mask: url(../images/icon-pinterest.svg);
            mask: url(../images/icon-pinterest.svg); }
  .links-container .link--insta {
    -webkit-mask: url(../images/icon-instagram.svg);
            mask: url(../images/icon-instagram.svg); }
  .links-container .link:hover {
    background: #fb6087; }
