html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  scroll-behavior: smooth;
  height: 100%; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden;
  height: 100%; }

a,
a:visited,
a:link,
a:active {
  text-decoration: none; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.container {
  width: 100vw;
  height: 100vh;
  padding: 1.875rem;
  background: radial-gradient(#1f3756, #141539); }

header {
  width: 100%;
  max-width: 44rem;
  border: 2px solid #606e85;
  border-radius: 10px;
  padding: 0.625rem; }
  header .logo {
    width: 5.125rem;
    height: 3.13rem; }
  header .score {
    width: 5rem;
    padding: 0.8rem;
    background: #e6e6e6;
    border-radius: 5px; }
    header .score__title {
      color: #2a46c0;
      text-transform: uppercase;
      font-size: 0.6rem;
      font-weight: 600;
      letter-spacing: 0.25em; }
    header .score__number {
      color: #3b4363;
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1; }

.choose {
  width: 100%;
  height: 50vh; }
  .choose__triangle {
    margin-top: 25vh;
    width: 100%;
    max-width: 30rem;
    height: 11rem;
    background-image: url("../images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .choose__hand {
    width: 8.125rem;
    height: 8.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    -webkit-filter: drop-shadow(0 5px 5px rgba(10, 10, 10, 0.5));
            filter: drop-shadow(0 5px 5px rgba(10, 10, 10, 0.5)); }
  .choose__hand--paper {
    -ms-flex-item-align: start;
        align-self: flex-start;
    background: -webkit-gradient(linear, left top, right top, from(#4865f4), to(#5671f5));
    background: linear-gradient(90deg, #4865f4, #5671f5); }
  .choose__hand--scissors {
    -ms-flex-item-align: start;
        align-self: flex-start;
    background: -webkit-gradient(linear, left top, right top, from(#ec9e0e), color-stop(90%, #ec9e0e), to(#eca922));
    background: linear-gradient(90deg, #ec9e0e, #ec9e0e 90%, #eca922); }
  .choose__hand--rock {
    -ms-flex-item-align: end;
        align-self: flex-end;
    background: -webkit-gradient(linear, left top, right top, from(#dc2e4e), to(#dd405d));
    background: linear-gradient(90deg, #dc2e4e, #dd405d); }
  .choose .hand-inner {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    background: #e6e6e6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: inset 0 3px 5px rgba(10, 10, 10, 0.5);
            box-shadow: inset 0 3px 5px rgba(10, 10, 10, 0.5); }

.game {
  display: none; }

.btn-container {
  position: absolute;
  bottom: 3.4375rem;
  left: 0;
  width: 100%;
  height: 2.625rem; }
  .btn-container .rules-btn {
    width: 8.125rem;
    height: 100%;
    border: 2px solid #e6e6e6;
    color: #e6e6e6;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.15em;
    border-radius: 10px;
    background: none; }
