
// colors

$colorHeader: #143139;
$colorText: #1B414B;
$lightBlue: #6BB7CD;
$veryLightBlue: #D9EDF2;
$colorBg: #F0F0F0;
$lightBrown: #CD886B;
$colorSecondary: #FAC7C6;


// screensize for breakpoints

$medium: 31.25rem;
$large: 62.5rem;