@import "globals.scss";
@import "variables.scss";

.header {
    width: 100vw;
    height: 4.6875rem;
    padding: 0 1.5rem;
    background: $colorHeader;

    &__quote {
        max-width: 60%;

        p {
            color: $lightBrown;
            font-size: clamp(0.875rem, 3vw, 1.875rem);
            font-weight: 500;
            
        }
    }

    &__links {
        .fab {
            color: $lightBrown;
            font-size: 2.5rem;
        }

        .fab + .fab {
            margin-left: 1.5rem;
        }
    }
}

.room {

    &__title {
        @include title();
    }

    &__text {
        @include text();
    }

    &__img-wrapper {
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }


}
