@use '../setup/index' as *;

header {
    width: 100%;
    min-height: 32.75rem;
    background-image: url(../images/bg-pattern-intro.svg), $background-gradient-intro-mobile;
    background-repeat: no-repeat;
    background-position: 35% 30%; // 35% 35%
    background-size: 250vw; //320%
    border-bottom-left-radius: 100px;
    padding: 3.125rem 1.25rem;

    @include mq-up($large) {
        padding: 3.125rem 5rem;
        background-position: -300px;
    }

    @include mq-up($x-large) {
        padding: 3.125rem 10rem;
        background-position: -400px;
    }

    .intro {
        margin-top: 5rem;
        color: $text-white;
        text-align: center;

        &__title {
            font-size: clamp(2.25rem, 5vw, 3.5rem);
            line-height: 1.3em;
        }

        &__subtitle {
            font-size: clamp(1rem, 2.5vw, 1.25rem);
            padding: 1rem 2rem 3rem 2rem;
        }

        &__btn {
            font-size: 0.8rem;
            font-weight: 600;
            padding: 1em 1.5em 0.75em 1.5em;
            border-radius: 50px;
            transition: background .3s ease-in, color .3s ease-in;
        }

        &__btn--start {
            background: $text-white;
            color: $text-cta;
        }

        &__btn--start:hover {
            background: $cta-hover-background;
            color: $text-white;
        }

        &__btn--learn {
            border: 1px solid $text-white;
            color: $text-white;
            margin-left: 1rem;
        }

        &__btn--learn:hover {
            background: $text-white;
            color: $text-cta;
        }
    }
}
